@model List<Category>

@{
    Layout = "_LayoutAdmin";
}

<div class="list-group">
    @foreach (var c in Model)
    {
        <div class="list-group-item list-group-item-action bg-secondary my-1 px-1">
            <span>Category Name: @c.Name</span>
            <span>
                <a class="btn btn-link">Edit</a>
                <a class="btn btn-link" href="@Url.Action("DeleteCategory","Admin",new {c.Id})">Delete</a>
            </span>
            
        </div>

    }
</div>