@model List<Product>

@{
    Layout = "_LayoutAdmin";
}
<div class="list-group">
    @foreach (var p in Model)
    {
        <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center bg-secondary my-1 px-2">
            <span>Name: @p.Name</span>
            <span>Name: @p.Name</span>
            <span>
                <a class="btn btn-link">Edit</a>
                <a class="btn btn-link" href="@Url.Action("DeleteTag","Admin",new {t.Id})">Delete</a>
            </span>

        </div>

    }
</div>
