@model List<Tag>

@{
    Layout = "_LayoutAdmin";
}

<div class="list-group">
    @foreach (var t in Model)
    {
        <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center bg-secondary my-1 px-2">
            <span>Tag Name: @t.Name</span>
            <span>
                <a class="btn btn-link" >Edit</a>
                <a class="btn btn-link" href="@Url.Action("DeleteTag","Admin",new {t.Id})">Delete</a>
            </span>

        </div>

    }
</div>